@if (project().capabilities?.length) {
  <section class="project-security">
    <div class="project-security__header">
      <h2>{{ config.security.title }}</h2>

      <p>
        {{ config.security.description }}
      </p>
    </div>

    <div class="project-security__grid">
      @for (capability of project().capabilities; track capability.title) {
        <article class="security-card">
          <h3>
            {{ capability.title }}
          </h3>

          <p>
            {{ capability.description }}
          </p>
        </article>
      }
    </div>
  </section>
}
