<section class="contact-form-card">
  <h2>
    {{ config.contactForm.title }}
  </h2>

  <form>
    <div class="form-grid">
      <div class="field">
        <label>{{ config.contactForm.fields.name }}</label>
        <input
          type="text"
          [placeholder]="config.contactForm.placeholders.name"
        />
      </div>

      <div class="field">
        <label>{{ config.contactForm.fields.email }}</label>
        <input
          type="email"
          [placeholder]="config.contactForm.placeholders.email"
        />
      </div>

      <div class="field">
        <label>{{ config.contactForm.fields.company }}</label>
        <input
          type="text"
          [placeholder]="config.contactForm.placeholders.company"
        />
      </div>

      <div class="field">
        <label>{{ config.contactForm.fields.projectType }}</label>

        <select>
          @for (option of config.contactForm.projectTypes; track option) {
            <option>
              {{ option }}
            </option>
          }
        </select>
      </div>

      <div class="field field--full">
        <label>{{ config.contactForm.fields.budget }}</label>

        <input
          type="text"
          [placeholder]="config.contactForm.placeholders.budget"
        />
      </div>

      <div class="field field--full">
        <label>{{ config.contactForm.fields.message }}</label>

        <textarea
          rows="6"
          [placeholder]="config.contactForm.placeholders.message"
        ></textarea>
      </div>

      <div class="field field--full">
        <button type="submit">
          {{ config.contactForm.submitButton }}
        </button>
      </div>
    </div>
  </form>
</section>
