@if (project().capabilities?.length) {
  <section class="project-capabilities">
    <div class="project-capabilities__header">
      <h2>{{ config.capabilities.title }}</h2>

      <p>
        {{ config.capabilities.description }}
      </p>
    </div>

    <div class="project-capabilities__grid">
      @for (capability of project().capabilities; track capability.title) {
        <article class="capability-card">
          <div class="capability-card__icon">
            {{ ($index + 1).toString().padStart(2, "0") }}
          </div>

          <h3>
            {{ capability.title }}
          </h3>

          <p>
            {{ capability.description }}
          </p>
        </article>
      }
    </div>
  </section>
}
