<section class="direct-links">
  <h3>
    {{ config.directLinks.title }}
  </h3>

  @for (link of config.directLinks.links; track link.label) {
    @if (link.href) {
      <a [href]="link.href" target="_blank" class="contact-link">
        <div>
          <strong>{{ link.label }}</strong>

          <span>{{ link.value }}</span>
        </div>
      </a>
    } @else {
      <div class="contact-link">
        <div>
          <strong>{{ link.label }}</strong>

          <span>{{ link.value }}</span>
        </div>
      </div>
    }
  }
</section>
