<section class="project-overview">

  <article class="project-overview__card">
    <h3>Business Problem</h3>

    <p>
      {{ project().businessProblem }}
    </p>
  </article>

  <article class="project-overview__card">
    <h3>Technical Goals</h3>

    <p>
      {{ project().technicalGoals }}
    </p>
  </article>

  <article class="project-overview__card">
    <h3>Role</h3>

    <h4>
      {{ project().role }}
    </h4>

    <p>
      {{ project().roleDescription }}
    </p>
  </article>

  <article class="project-overview__card">
    <h3>Details</h3>

    <div class="project-overview__details">

      <div>
        <span>Duration</span>

        <strong>
          {{ project().duration }}
        </strong>
      </div>

      <div>
        <span>Team Size</span>

        <strong>
          {{ project().teamSize }}
        </strong>
      </div>

    </div>
  </article>

</section>