<section class="project-overview">
  <article class="project-overview__card">
    <span class="project-overview__label"> BUSINESS PROBLEM </span>

    <p>
      {{ project().businessProblem }}
    </p>
  </article>

  <article class="project-overview__card">
    <span class="project-overview__label"> TECHNICAL GOALS </span>

    <p>
      {{ project().technicalGoals }}
    </p>
  </article>

  <article class="project-overview__card">
    <span class="project-overview__label"> ROLE </span>

    <h4>
      {{ project().role }}
    </h4>

    <p>
      {{ project().roleDescription }}
    </p>
  </article>

  <article class="project-overview__card">
    <span class="project-overview__label"> DETAILS </span>

    <div class="project-overview__details">
      <div>
        <span>Duration</span>

        <strong>
          {{ project().duration }}
        </strong>
      </div>

      <div>
        <span>Team Size</span>

        <strong>
          {{ project().teamSize }}
        </strong>
      </div>
    </div>
  </article>
</section>
